{% extends "base.html" %}
{% load static %}

{% block title %}
    Student Dashboard
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "quiz_page/dashboard.css" %}">
{% endblock %}

{% block content %}
    <table class="content-table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Score</th>
            <th>Date Taken</th>
        </tr>
    </thead><br>
    <tbody>
        {% for result in results %}
            <tr>
                <td>{{ result.user }}</td>
                <td>{{ result.score }}</td>
                <td>{{ result.date_taken }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    <form action="quiz">
        {%csrf_token%}
        <div class="bt">
            <button class="submit-btn">Take Test</button>
        </div>
    </form>
{% endblock %}